* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-wrap: wrap;
    background-color:antiquewhite
    
}

header {
    padding: 20px;
    width: 100%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(87, 85, 85);
    
}

header h1 {
    font-size: 48px; 
    color: black;
    display: inline-block;
    border-left: solid lightblue;
    border-width: .25em;
    background-color: lightblue;
    border-radius: 10px; 
    font-weight:lighter;
    padding: 20px;
    margin-left: -19px;
}



header nav {
    padding-top: 36px;
    margin-right: 15px;
    float: right;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;


}

header nav ul {
    list-style-type: none;
    margin-top: -4px;

    
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: lightblue;
}

figure {
    background-image: url("https://img.freepik.com/free-photo/creative-flat-lay-photo-workspace-desk_7861-985.jpg?w=2000&t=st=1679938626~exp=1679939226~hmac=bd1061d9742ab5ed888ca4bcc88d6c18c52274b8e6337fb7293981898947f4f1");
    width: 100%;
    height: 220px;
    display: inline-block;
}

figure img {
    height: 200px;
    width: 200px;
    margin-top: 10px;
    margin-left: 10px;
}

figure h1 {
    border-width: .25em;
    padding: 20px;
    margin-top: 100px;
    margin-right: 20px;
    border-radius: 10px;
    background: lightblue; 
    float: right;
    font-weight: lighter;
}

.about-container {
    display: flex;
}

article section h1 {
    font-size: 55px;
    white-space: nowrap;
    margin-left: 20px;
    color: navy;
    font-weight: lighter;
    margin-right: 20px;
}

.paragraphs {
    border-left: solid blue 5px;
    padding-left: 30px;
    color: navy;
}

.paragraph-1 {
    margin-bottom: 10px;
}